.drop {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(112, 129, 72, 0.63);
  height: 300px;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid #949451;
}
